<launch>
  <group ns="husky1">
    <node name="robot_sim1" pkg="posestamped_sim" type="posestamped_sim"/>
  </group>
  <group ns="husky2">
    <node name="robot_sim1" pkg="posestamped_sim" type="posestamped_sim"/>
  </group>
  <group ns="jackal1">
    <node name="robot_sim1" pkg="posestamped_sim" type="posestamped_sim"/>
  </group>
  <group ns="jackal2">
    <node name="robot_sim1" pkg="posestamped_sim" type="posestamped_sim"/>
  </group>
</launch>